@font-face {
  font-family: "tetris-text";
  src: url(RubikIso-Regular.ttf);
}

@font-face{
  font-family: "score-text";
  src: url(PressStart2P-Regular.ttf);
}

.startButtons {
  margin-left: 0;
  margin-top: 300px;
}

li:hover {
  color: red;
}

#seconds {
  padding-top: 20px;
  font-size: 20px;
  font-family: "score-text";
}


#minutes {
  padding-top: 20px;
  font-size: 20px;
  font-family: "score-text";
}
#colon {
  padding-top: 20px;
  font-size: 20px;
  font-family: "score-text";
}
